@page
@model ProiectContoare.Pages.Tarife.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Actualizare Tarif</h1>

<h4>Introduceți noul tarif:</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Tarif.PretPeMetruCub" class="control-label"></label>
                <input asp-for="Tarif.PretPeMetruCub" class="form-control" />
                <span asp-validation-for="Tarif.PretPeMetruCub" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Actualizează Tarif" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Înapoi la Listă</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}